# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
venv/
env/
mon_env/

# AppImage build directories
AppImage/
squashfs-root/
*.AppImage
appimagetool*
*.AppDir
build/
build-dir/

# Flatpak
flatpak/
flatpack/
.flatpak-builder/

# Divers
*.log
*.bak